* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 1140px;
  height: 1620px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("file:///C:/Users/Administrator/Desktop/project_base3/image/menu.jpg");
}
.container header {
  height: 670px;
}
.container header .logo-text {
  color: white;
  position: absolute;
  top: 4%;
  left: 83%;
  transform: translate(-50%, -50%);
}
.container header .logo-text img {
  top: 18px;
  left: -32px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.container header .logo-text .logo {
  float: right;
  padding-top: 22px;
  font-size: 25px;
  padding-left: 22px;
  letter-spacing: 3px;
}
.container header .logo-text .logo span {
  padding-left: 5px;
  font-weight: normal;
}
.container header .logo-text .logo p {
  letter-spacing: 6px;
  font-size: 14px;
}
.container header .hero-text {
  width: 570px;
  letter-spacing: 5px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
}
.container header .hero-text span {
  font-weight: bold;
  color: #da1e35;
}
.container .supper-text {
  padding-bottom: 10px;
  color: #da1e35;
  font-size: 28px;
}
.container main {
  width: 900px;
  margin: auto;
}
.container main .supper-main {
  height: 300px;
}
.container main .supper-main img {
  width: 30px;
  height: 22px;
  padding-right: 5px;
}
.container main .supper-main .supper-right {
  width: 404px;
  margin-left: 5px;
  float: left;
  margin-right: 46px;
}
.container main .supper-main .supper-right ul {
  margin-left: 5px;
  font-size: 18px;
}
.container main .supper-main .supper-right li {
  text-decoration: none;
  list-style-type: none;
}
.container main .supper-main .supper-left {
  width: 440px;
  float: left;
}
.container main .supper-main .supper-left p {
  font-size: 18px;
}
.container main .hero-main {
  height: 430px;
  display: flex;
}
.container main .hero-main .hero-content {
  flex: 1;
}
.container main .hero-main .hero-content:nth-child(1) {
  border-right: 3px solid #c0bfbf;
}
.container main .hero-main .hero-content:nth-child(2) {
  border-right: 3px solid #c0bfbf;
}
.container main .hero-main .hero-content .hero-text {
  padding: 0 35px;
}
.container main .hero-main .hero-content .hero-text-one {
  padding-left: 20px;
}
.container main .hero-main .hero-content .title-main {
  text-align: center;
}
.container main .hero-main .hero-content .title-main img {
  width: 70px;
  height: 90px;
  margin-bottom: 15px;
}
.container main .hero-main .hero-content p {
  font-size: 17px;
}
.container main .hero-main .hero-center {
  flex: 1;
  background: green;
}
.container main .hero-main .hero-left {
  flex: 1;
  background: yellow;
}

footer {
  display: flex;
  height: 220px;
}
footer .footer-right {
  flex: 2;
}
footer .footer-right .footer-content {
  font-size: 18px;
  color: white;
  padding-top: 110px;
  float: right;
  padding-right: 150px;
}
footer .footer-right .icon-one {
  bottom: 75px;
  position: absolute;
  width: 30px;
  left: 230px;
}
footer .footer-text {
  position: relative;
  flex: 1;
}
footer .footer-text img {
  bottom: 70px;
  position: absolute;
  width: 28px;
}
footer .footer-text .footer-content-text {
  padding-left: 35px;
  font-size: 18px;
  color: white;
  padding-top: 109px;
  float: right;
  padding-right: -26px;
  float: left;
}

/*# sourceMappingURL=main.css.map */
