* {
	padding: 0;
	margin: 0;
	border: none;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 1140px;
	height: 1700px;
	margin : auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/menu.jpg');

	//----------- header ------------ //
	header {
		height: 715px;
		.logo-text {
			color: white;
			position: absolute;
			top: 4%;
			left: 83%;
			transform: translate(-50%, -50%);

			img {
				top: 18px;
			    left: -32px;
			    width: 40px;
			    height: 40px;
			    position: absolute;
			}

			.logo {
				float: right;
				padding: 22px 0 0 22px;
				font-size: 25px;
				letter-spacing: 3px;
				span {
					padding-left: 5px;
					font-weight: normal;
					
				}
				p {
					letter-spacing: 6px;
					font-size: 14px;
				}
			}
		}

		.hero-text {
			width: 570px;
			letter-spacing: 5px;
			margin:auto;
			text-align: center;
			position: absolute;
			top: 16%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 32px;

			span {
				font-weight: bold;
				color: #da1e35;
			}
		}
	}
	//----------- end_header ------------ //
	
	//----------- main ------------ //
	.supper-text {
		padding-bottom: 20px;
		color: #da1e35;
		font-size: 29px;
	}

	main {
		width: 1000px;
		margin :auto;
		.supper-main {
			height: 387px;
			display: flex;
			img {
				width: 30px;
				height: 22px;
				padding-right: 5px;
			}

			.supper-right {
				word-spacing: 5px;
			    width: 477px;
			    margin-left: 5px;
			    float: left;
			    margin-right: 80px;
				ul {
					margin-left: 5px;
					font-size: 20px;
				}

				li {
					padding-bottom: 22px;
					text-decoration: none;
					list-style-type: none;
				}
			}

			.supper-left {
				width: 440px;
				float: left;
				line-height: 25px;
				p {
					text-align: justify;
					font-size: 20px;
				}
			}
		}
		.hero-main {
			font-size: 18px;
			text-align: justify;
			height: 395px;
			display: flex;
			.hero-content {
				position: relative;
				flex: 1;
				&:nth-child(1):after {
					content: "";
				    position: absolute;
				    right: 0;
				    top: 19px;
				    width: 2px;
				    height: 82%;
				    background: #c0bfbf;
				}

				&:nth-child(2):after {
					content: "";
				    position: absolute;
				    right: 0;
				    top: 19px;
				    width: 2px;
				    height: 82%;
				    background: #c0bfbf;
				}

				.hero-text-one {
					word-spacing: 8px;
					padding: 0 25px 0 0;
				}
				
				.hero-text-two {
					padding: 0 25px;
				}

				.hero-text-three {
					word-spacing: 8px;
					padding-left: 20px;
				}

				.title-main {
					text-align: center;
					img {
						margin-bottom: 15px;
					}
					.icon-one {
						width: 80px;
						height: 90px;
					}
					.icon-two {
						width: 100px;
						height: 90px;
					}
					.icon-three {
						width: 80px;
						height: 90px;
					}
				}
			}
			.hero-center {
				flex: 1;
				background: green;
			}
			.hero-left {
				flex: 1;
				background: yellow;
			}
		}
	}
}

//----------- end_main ------------ //
	
//----------- end_footer ------------ //
footer {
	display: flex;
	height: 220px;
	.footer-right {
		flex: 2;
		.footer-content {
			font-size: 18px;
		    color: white;
		    padding: 98px 150px 0 0;
		    float: right;
		}

		.icon-one {
			bottom: 75px;
		    position: absolute;
		    width: 30px;
		    left: 230px;
		}
	}

	.footer-text {
		position: relative;
		flex: 1;
		img {
			bottom: 88px;
		    position: absolute;
		    width: 28px;
		}
		.footer-content-text {
			padding: 95px 0 0 35px; 
		    font-size: 18px;
		    color: white;
		    float: left;
		}
	}
}






